/*########### UL - ALLCOMMENTS ###########*/

section.sectionAllComments {
    width: 90%;
    min-height: 30vmin;
    padding: 6vmin 0.2vmin 5vmin 5vmin;
    margin-bottom: 10vmin;
    background-color: var(--grey3-color);
}

ul.ulAllCommentFileCompleted {
    width: 99%;
    min-height: 30vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
}

/*########### P - ALLCOMMENTS  ###########*/

p.pAllComments {
    width: 90%;
    height: 20vmin;
    background-color: var(--grey3-color);
    padding-top: 4vmin;
    text-align: center;
    text-transform: uppercase;
    color: red;
    margin-bottom: 10vmin;
}

ul.ulAllCommentFileCompleted > li {
    width: 100%;
}

ul.ulAllCommentFileCompleted > li > p:first-child,
ul.ulAllCommentFileCompleted > li > p:nth-child(2) {
    font-size: 3.5vmin;
    margin-bottom: 1vmin;
}

ul.ulAllCommentFileCompleted > li > p:nth-child(3) {
    font-size: 3vmin;
    padding-bottom: 3vmin;
    border-bottom: 0.1vmin dotted var(--blue-color);
    margin-bottom: 3vmin;
}

/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    p.pAllComments,
    section.sectionAllComments {
        width: 95%;
        margin-top: 2vmin;
    }

    ul.ulAllCommentFileCompleted > li > p:nth-child(3) {
        font-size: 2vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >700px ##
 * #########################
*/

@media (min-width: 700px) {
    p.pAllComments,
    section.sectionAllComments {
        padding: 5vmin 0.1vmin 4vmin 4vmin;
    }
}

/**
* #########################
* ## MEDIA QUERY >900px ##
* #########################
*/

@media (min-width: 900px) {
    p.pAllComments,
    section.sectionAllComments {
        width: 90%;
    }
}
