.ulAllCommentFileCompleted {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 3vmin;
    /* margin-top: 4vmin; */
    border-radius: 1vmin;
    box-shadow: inset 0 0 1vmin 0 var(--blue-color);
    margin-bottom: 15vmin;
}

/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .ulAllCommentFileCompleted {
        width: 100%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >700px ##
 * #########################
*/

@media (min-width: 700px) {
    /* .ulAllCommentFileCompleted {
        width: 100%;
    } */
}

/**
* #########################
* ## MEDIA QUERY >900px ##
* #########################
*/

@media (min-width: 900px) {
    .ulAllCommentFileCompleted {
        width: 45%;
        padding: 4vmin;
        box-shadow: none;
    }
}
