/*#### BACKGROUND USER PAGE ########*/
.cardOwn {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.cardOwn > .cardPerfilArticleOwnUserPageOne,
.cardOwn > .cardPerfilArticleOwnUserPageTwo,
.cardOwn > .cardPerfilArticleOwnUserPageThree {
    width: 95%;
    min-height: 68vh;
    padding: 1vmin;
    margin: 6vmin 2vmin;
    border-radius: 1vmin;

    box-shadow: inset 0 0 3vmin 0 var(--grey2-color);
}

.cardOwn > .cardPerfilArticleOwnUserPageOne:hover,
.cardOwn > .cardPerfilArticleOwnUserPageTwo:hover,
.cardOwn > .cardPerfilArticleOwnUserPageThree:hover {
    transform: scale(1.1);
    transition-duration: 0.95s;
}

.cardOwn > .cardPerfilArticleOwnUserPageOne,
.cardOwn > .cardPerfilArticleOwnUserPageThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardOwn > .cardPerfilArticleOwnUserPageOne > p,
.cardOwn > .cardPerfilArticleOwnUserPageTwo > p,
.cardOwn > .cardPerfilArticleOwnUserPageThree > p {
    margin: 2vmin 2vmin;
}

.cardOwn > .cardPerfilArticleOwnUserPageOne > p:first-child {
    text-align: center;
}

.cardOwn > .cardPerfilArticleOwnUserPageOne > p > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardOwn > .cardPerfilArticleOwnUserPageOne > p > a > span.spanDsHeader,
.cardOwn > .cardPerfilArticleOwnUserPageOne > p > a > span.spanDigitalHeader {
    color: var(--blue-color);
}

.cardOwn > .cardPerfilArticleOwnUserPageOne > p > a > span.spanDsHeader {
    border-radius: 5vmin;
    box-shadow: inset 0 0 1vmin 0 var(--blue-color);
}

.cardOwn > .cardPerfilArticleOwnUserPageTwo > .cardNombreOwnUserPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vmin;
    margin: 4vmin;
}

.cardOwn
    > .cardPerfilArticleOwnUserPageTwo
    > .cardNombreOwnUserPage
    > .imgOwnUserPage {
    border-radius: 50%;
    width: 55%;
    padding: 0.1vmin;
    box-shadow: 0.5vmin 1.4vmin 0.5vmin var(--blue2-color);
    transform: rotate(-30deg);
    transition: all 0.3s;
}

.cardOwn
    > .cardPerfilArticleOwnUserPageTwo
    > .cardNombreOwnUserPage
    > .imgOwnUserPage:hover {
    box-shadow: 0vmin 0.5vmin 0.5vmin 0vmin var(--blue2-color);
    transform: rotate(0);
}

.cardOwn > .cardPerfilArticleOwnUserPageOne div.stripe,
.cardOwn > .cardPerfilArticleOwnUserPageTwo div.stripe,
.cardOwn > .cardPerfilArticleOwnUserPageThree div.stripe {
    width: 100%;
    height: 0.1vmin;
    background-color: var(--blue2-color);
    margin: 4vmin 0vmin;
}

.cardOwn > .cardPerfilArticleOwnUserPageTwo > p:not(first-child) {
    padding: 1vmin;
}
.cardOwn > .cardPerfilArticleOwnUserPageOne > p > span,
.cardOwn > .cardPerfilArticleOwnUserPageTwo > p > span,
.cardOwn > .cardPerfilArticleOwnUserPageThree > p > span,
.cardOwn
    > .cardPerfilArticleOwnUserPageTwo
    > .cardNombreOwnUserPage
    > p
    > span {
    font-weight: 600;
}
/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .cardOwn > .cardPerfilArticleOwnUserPageOne,
    .cardOwn > .cardPerfilArticleOwnUserPageTwo,
    .cardOwn > .cardPerfilArticleOwnUserPageThree {
        width: 80%;
    }

    .cardOwn
        > .cardPerfilArticleOwnUserPageTwo
        > .cardNombreOwnUserPage
        > .imgOwnUserPage {
        width: 50%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 700px ##
 * #########################
*/

@media (min-width: 700px) {
    .cardOwn {
        margin-top: 2vmin;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageOne,
    .cardOwn > .cardPerfilArticleOwnUserPageTwo,
    .cardOwn > .cardPerfilArticleOwnUserPageThree {
        padding: 2vmin;
        margin: 4vmin 6vmin;
        width: 70%;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageTwo {
        min-height: 74vh;
    }

    .cardOwn
        > .cardPerfilArticleOwnUserPageTwo
        > .cardNombreOwnUserPage
        > .imgOwnUserPage {
        width: 40%;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageOne,
    .cardOwn > .cardPerfilArticleOwnUserPageTwo,
    .cardOwn > .cardPerfilArticleOwnUserPageThree {
        opacity: 0;
        animation-name: secuencia;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageOne {
        animation-delay: 3s;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageTwo {
        animation-delay: 1s;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageThree {
        animation-delay: 5s;
    }

    @keyframes secuencia {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 900px ##
 * #########################
*/

@media (min-width: 900px) {
    .cardOwn {
        margin-top: 2vmin;
    }

    .cardOwn > .cardPerfilArticleOwnUserPageOne,
    .cardOwn > .cardPerfilArticleOwnUserPageTwo,
    .cardOwn > .cardPerfilArticleOwnUserPageThree {
        padding: 2vmin;
        margin: 4vmin 2vmin;
        width: 25%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    .cardOwn > .cardPerfilArticleOwnUserPageOne,
    .cardOwn > .cardPerfilArticleOwnUserPageTwo,
    .cardOwn > .cardPerfilArticleOwnUserPageThree {
        width: 20%;
    }
}
