/*#### BACKGROUND USER PAGE ########*/

.articleUserPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#### SECTION USER PAGE ########*/

.userPage {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1vmin;
    padding: 3.5vmin;
    margin: 5vmin 3vmin;
    min-height: calc((100vh-20rem));
    box-shadow: inset 0 0 3vmin 0 var(--blue-color);
}

/*##### H1 USER PAGE ########*/

.userPage > h1 {
    color: var(--blue-color);
}

.userPage > p {
    font-size: var(--custom-font-size);
    width: 100%;
    text-align: center;
    border-radius: 1vmin;
    /* margin-top: 1vmin; */
    /* padding: 3vmin; */
}

/*#### P USER PAGE ########*/

.userPage > p:not(:first-of-type) {
    box-shadow: inset 0 0 1vmin 0 var(--blue-color);
}

/*#### FIGURE USER PAGE ########*/

.userPage > figure {
    width: 60%;
}

.userPage > figure > img {
    border-radius: 50%;
    margin: 0.5vmin 1.5vmin;
    width: 100%;
    object-fit: cover;
}

/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .articleUserPage {
    }
    .userPage {
        width: 80%;
    }
    .userPage > p {
    }

    .userPage > p:last-child {
        box-shadow: inset 0 0 15px 0 var(--yellow-color);
    }

    .userPage > figure {
        width: 60%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 700px ##
 * #########################
*/

@media (min-width: 700px) {
    :root {
        --custom-font-size: 3vmin;
        --h1-custom-font-size: 5vmin;
    }

    .userPage {
        width: 40%;
    }

    .userPage > figure {
        width: 39%;
    }
}
