/* ####### SECTION SERVICE PAGE ###############*/
.servicePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: stretch;
}

.servicePage > div {
    padding: 2vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 3vmin 0vmin;
}

/**
    * #########################
    * ## MEDIA QUERY >500px ##
    * #########################
    */

@media (min-width: 500px) {
    .servicePage > div {
        width: 90%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >700px ##
 * #########################
 */

@media (min-width: 700px) {
    /* .servicePage {
        margin-bottom: 15vmin;
    } */

    .servicePage > div {
        width: 80%;
        border-radius: 1vmin;
        box-shadow: inset 0 0 1vmin 0 var(--blue-color);
    }

    .servicePage > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
    }
}
