/*############## Spam ################*/

.spam {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 50%;
    height: 40vmin;
    text-align: center;
    border-radius: 3vmin;
    background-color: var(--blue-color);
    border: 0.3vmin solid var(--blue-color);
}

.spam > p {
    margin-top: 2rem;
    color: var(--grey3-color);
}

.spam > button {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
}
