/*############## Spam ################*/

.spam {
    position: fixed;
    top: 18%;
    left: 30%;
    width: 50%;
    text-align: center;
    overflow: hidden;
    border-radius: 3vmin;
    background-color: var(--granate-color);
    box-shadow: inset 0 0 3vmin 0 var(--grey3-color);
}

.spam > p {
    margin-top: 3rem;
    color: var(--grey3-color);
}

.spam > button {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
}
