/*#### BACKGROUND USER PAGE ########*/
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* box-shadow: inset 0 0 1vmin 0 var(--shadow-color);
    border-radius: 1vmin; */
}

.card > .cardPerfilArticleUserPageOne,
.card > .cardPerfilArticleUserPageTwo {
    width: 95%;
    min-height: 68vh;
    padding: 2vmin;
    margin: 0vmin 2vmin;
}

.card > .cardPerfilArticleUserPageTwo {
    margin-top: 2vmin;
}

.card > .cardPerfilArticleUserPageOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card > .cardPerfilArticleUserPageTwo > p.pSpanEmail {
    padding: 4vmin 2vmin;
}

.card > .cardPerfilArticleUserPageTwo > p.pSpanBiography {
    background-color: var(--grey3-color);
    border-radius: 1vmin;
    padding: 4vmin 2vmin;
    overflow: hidden;
}
.card > .cardPerfilArticleUserPageOne > p,
.card > .cardPerfilArticleUserPageTwo > p {
    margin: 4vmin 2vmin;
}

.card > .cardPerfilArticleUserPageOne > p:first-child {
    text-align: center;
}

.card > .cardPerfilArticleUserPageOne > p > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card > .cardPerfilArticleUserPageOne > p > a > span.spanDsHeader,
.card > .cardPerfilArticleUserPageOne > p > a > span.spanDigitalHeader {
    color: var(--blue-color);
}

.card > .cardPerfilArticleUserPageOne > p > a > span.spanDsHeader {
    border-radius: 5vmin;
    box-shadow: inset 0 0 1vmin 0 var(--blue-color);
}

.card > .cardPerfilArticleUserPageTwo > .cardNombreUserPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vmin;
    margin: 4vmin;
}

.card > .cardPerfilArticleUserPageTwo > .cardNombreUserPage > .imgUserPage {
    border-radius: 50%;
    width: 75%;
    padding: 0.1vmin;
    box-shadow: 0.5vmin 1.4vmin 0.5vmin var(--blue2-color);
    transform: rotate(-30deg);
    transition: all 0.3s;
}

.card
    > .cardPerfilArticleUserPageTwo
    > .cardNombreUserPage
    > .imgUserPage:hover {
    box-shadow: 0vmin 0.5vmin 0.5vmin 0vmin var(--blue2-color);
    transform: rotate(0);
}

.card > .cardPerfilArticleUserPageOne div.stripe,
.card > .cardPerfilArticleUserPageTwo div.stripe {
    width: 100%;
    height: 0.1vmin;
    background-color: var(--blue2-color);
    margin: 4vmin 0vmin;
}

.card > .cardPerfilArticleUserPageTwo > p:not(first-child) {
    padding: 1vmin;
}
.card > .cardPerfilArticleUserPageOne > p > span,
.card > .cardPerfilArticleUserPageTwo > p > span,
.card > .cardPerfilArticleUserPageTwo > .cardNombreUserPage > p > span {
    font-weight: 600;
}
/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .card > .cardPerfilArticleUserPageOne,
    .card > .cardPerfilArticleUserPageTwo {
        width: 90%;
    }

    .card > .cardPerfilArticleUserPageTwo > .cardNombreUserPage > .imgUserPage {
        width: 60%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 700px ##
 * #########################
*/

@media (min-width: 700px) {
    .card {
        margin-top: 2vmin;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .card > .cardPerfilArticleUserPageOne,
    .card > .cardPerfilArticleUserPageTwo {
        padding: 2vmin;
        margin: 4vmin 0vmin;
        width: 70%;
        background-color: var(--grey3-color);
    }

    .card > .cardPerfilArticleUserPageTwo > .cardNombreUserPage > .imgUserPage {
        width: 40%;
    }

    .card > .cardPerfilArticleUserPageTwo > p.pSpanBiography {
        background-color: var(--write-color);
    }

    .card > .cardPerfilArticleUserPageTwo > p.pSpanEmail {
        padding: 0vmin 2vmin;
    }

    .card > .cardPerfilArticleUserPageOne,
    .card > .cardPerfilArticleUserPageTwo {
        opacity: 0;
        animation-name: secuencia;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .card > .cardPerfilArticleUserPageOne {
        animation-delay: 3s;
    }

    .card > .cardPerfilArticleUserPageTwo {
        animation-delay: 1s;
    }

    @keyframes secuencia {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 900px ##
 * #########################
*/

@media (min-width: 900px) {
    .card {
        margin-top: 2vmin;
    }

    .card > .cardPerfilArticleUserPageOne {
        width: 50%;
        border-left: 0.5vmin solid var(--grey-color);
    }

    .card > .cardPerfilArticleUserPageTwo {
        width: 35%;
    }

    .card > .cardPerfilArticleUserPageTwo > p.pSpanBiography {
        padding: 2vmin;
    }

    .card > .cardPerfilArticleUserPageTwo > .cardNombreUserPage {
        gap: 2vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    .card > .cardPerfilArticleUserPageOne {
        width: 40%;
        border-left: 0.5vmin solid var(--grey-color);
    }

    .card > .cardPerfilArticleUserPageTwo {
        width: 20%;
    }
}
