/*#### BACKGROUND USER PAGE ########*/
.card {
    display: flex;
    gap: 1vmin;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.card > .cardPerfilArticleUserPage {
    width: 100%;
    padding: 3vmin;
    margin: 6vmin 2vmin;
    border-radius: 1vmin;
    box-shadow: inset 0 0 1vmin 0 var(--shadow-color);
}

.card > .cardPerfilArticleUserPage:hover {
    transform: scale(1.05);
    transition-duration: 0.95s;
}

.card > .cardPerfilArticleUserPage > p {
    margin: 1vmin 1vmin;
}

.card > .cardPerfilArticleUserPage > .cardNombreUserPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;
    margin: 4vmin;
}

.card > .cardPerfilArticleUserPage > .cardNombreUserPage > .imgUserPage {
    border-radius: 50%;
    width: 85%;
    box-shadow: 0.5vmin 0.5vmin 0.5vmin var(--blue2-color);
    transform: rotate(-30deg);
    transition: all 0.3s;
}

.card > .cardPerfilArticleUserPage > .cardNombreUserPage > .imgUserPage:hover {
    box-shadow: 0vmin 0.5vmin 0.5vmin 0vmin var(--blue2-color);
    transform: rotate(0);
}

.card > .cardPerfilArticleUserPage p.stripe {
    width: 100%;
    height: 0.1vmin;
    background-color: var(--blue2-color);
    margin: 2vmin 0vmin;
}

.card > .cardPerfilArticleUserPage > p > span,
.card > .cardPerfilArticleUserPage > .cardNombreUserPage > p > span {
    font-weight: 600;
}
/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .card > .cardPerfilArticleUserPage {
        width: 95%;
    }

    .card > .cardPerfilArticleUserPage > .cardNombreUserPage > .imgUserPage {
        width: 80%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 700px ##
 * #########################
*/

@media (min-width: 700px) {
    .card {
        margin-top: 2vmin;
    }

    .card > .cardPerfilArticleUserPage {
        padding: 2vmin;
        margin: 4vmin 2vmin;
        width: 90%;
    }

    .card > .cardPerfilArticleUserPage > .cardNombreUserPage > .imgUserPage {
        width: 50%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 900px ##
 * #########################
*/

@media (min-width: 900px) {
    .card > .cardPerfilArticleUserPage {
        width: 70%;
    }
}

/**
 * #########################
 * ## MEDIA QUERY > 1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    .card > .cardPerfilArticleUserPage {
        width: 60%;
    }

    .card > .cardPerfilArticleUserPage > .cardNombreUserPage > .imgUserPage {
        width: 20%;
    }
}
