.social-container > h3 {
    margin: 3vmin 0vmin;
    color: var(--grey3-color);
}

.social-container {
    padding: 4vmin 2vmin;
}

a.social {
    margin: 0 1vmin;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-0.5vmin);
}

a.linkedinDorina {
    color: var(--grey3-color);
}

a.linkedinAndrea {
    color: var(--grey3-color);
}

a.gitHubAndrea {
    color: #eb3223;
}

a.gitHubDorina {
    color: #eb3223;
}
