* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--custom-font-size);
}

main {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ####### ROOT PAGE ####### */

:root {
    --blue-color: rgb(29, 78, 93);
    --blue2-color: rgb(29, 78, 93, 1);
    --lightBlue-color: rgb(164, 238, 244);
    --granate-color: rgb(117, 9, 57);
    --yellow-color: rgb(222, 142, 2);
    --write-color: rgb(255, 255, 255);
    --write2-color: rgb(255, 252, 232, 1);
    --grey-color: rgb(178, 182, 189);
    --grey2-color: rgb(178, 182, 189, 1);
    --grey3-color: rgba(231, 232, 235);
    --h2-serviceList-color: rgba(231, 232, 235, 0.7);
    --shadow-color: rgb(50, 50, 50);

    --custom-font-size: 5vmin;
    --h1-custom-font-size: 7vmin;
}

h1 {
    font-size: var(--h1-custom-font-size);
}

.link > a,
a {
    text-decoration: none;
    color: var(--yellow-color);
}

/**
  * #########################
  * ## MEDIA QUERY >300px ##
  * #########################
  */

@media (min-width: 300px) {
    :root {
        --custom-font-size: 4vmin;
        --h1-custom-font-size: 6vmin;
    }
}

/**
  * ########################
  * ## MEDIA QUERY >500px ##
  * ########################
  */

@media (min-width: 500px) {
    :root {
        --custom-font-size: 3vmin;
        --h1-custom-font-size: 5vmin;
    }
}

/**
  * #########################
  * ## MEDIA QUERY >700px ##
  * #########################
  */

@media (min-width: 700px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 4vmin;
    }

    .link > a,
    a {
        color: var(--blue-color);
    }
}

/**
  * #########################
  * ## MEDIA QUERY >900px ##
  * #########################
  */

@media (min-width: 900px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 3.5vmin;
    }
}

/**
  * #########################
  * ## MEDIA QUERY >1025px ##
  * #########################
  */

@media (min-width: 1025px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 3vmin;
    }
}
