* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--custom-font-size);
}

.app {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ####### ROOT PAGE ####### */

:root {
    --blue-color: rgb(29, 78, 93);
    --blue2-color: rgb(29, 78, 93, 1);
    --lightBlue-color: rgb(164, 238, 244);
    --granate-color: rgb(117, 9, 57);
    --yellow-color: rgb(222, 142, 2);
    --write-color: rgb(255, 255, 255);
    --write2-color: rgb(255, 252, 232, 1);
    --grey-color: rgb(178, 182, 189);
    --grey2-color: rgb(178, 182, 189, 1);
    --grey3-color: rgba(231, 232, 235);
    --h2-serviceList-color: rgba(231, 232, 235, 0.7);
    --shadow-color: rgb(50, 50, 50); /* sombreado en oneservice LG*/

    --custom-font-size: 5vmin;
    --h1-custom-font-size: 7vmin;
}

h1 {
    font-size: var(--h1-custom-font-size);
}

.link > a,
a {
    text-decoration: none;
    color: var(--yellow-color);
}

/* #######  HEADER  ####### */
header {
    width: 100%;
    padding-bottom: 0.5vmin;
    background-color: var(--blue-color);
}

header > nav > div.divHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header > nav > div.divHeader > a > figure {
    width: 7vmin;
    margin: 0 1.5vmin;
}

header > nav > div.divHeader > a > figure > img {
    object-fit: cover;
    border-radius: 50%;
    width: 6vmin;
    padding: 0.5vmin;
    box-shadow: inset 0 0 1vmin 0 var(--grey3-color);
}

header > nav > div.divHeader > a > figure > figcaption {
    display: none;
}

header > nav > .divHeader > button.btnEffect {
    color: var(--grey3-color);
    margin-top: 4vmin;
    font-weight: 500;
}

/* ####### LOGO ####### */

header > p > .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5vmin;
}

.spanDsHeader {
    margin: 1vmin;
    padding: 2vmin;
    cursor: pointer;
    border-radius: 5vmin;
    color: var(--grey3-color);
    box-shadow: inset 0 0 1vmin 0 var(--grey3-color);
}

.spanDigitalHeader {
    color: var(--grey3-color);
    font-weight: 400;
}

.spanServicesHeader {
    color: var(--yellow-color);
}

/* ####### FOOTER ####### */
footer {
    position: fixed;
    bottom: 0;
    height: 10vmin;
    width: 100%;
    text-align: center;
    background-color: var(--blue-color);
    color: var(--write-color);
    padding: 3vmin 0;
    font-size: 8vmin;
}

/**
  * #########################
  * ## MEDIA QUERY >300px ##
  * #########################
  */

@media (min-width: 300px) {
    :root {
        --custom-font-size: 4vmin;
        --h1-custom-font-size: 6vmin;
    }
}

/**
  * ########################
  * ## MEDIA QUERY >500px ##
  * ########################
  */

@media (min-width: 500px) {
    :root {
        --custom-font-size: 3vmin;
        --h1-custom-font-size: 5vmin;
    }
}

/**
  * #########################
  * ## MEDIA QUERY >700px ##
  * #########################
  */

@media (min-width: 700px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 4vmin;
    }

    .link > a,
    a {
        color: var(--blue-color);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--write-color);
        margin-top: 1vmin;
    }

    .spanDsHeader {
        box-shadow: inset 0 0 1.3vmin 0 var(--blue-color);
        color: var(--blue-color);
        font-weight: 600;
    }

    .spanDigitalHeader {
        color: var(--blue-color);
        font-weight: 700;
    }

    .spanServicesHeader {
        font-weight: 700;
    }

    header > nav > div.linkHeader {
        display: flex;
    }

    header > nav > div.divHeader > button.btnEffect {
        color: var(--blue-color);
        margin-top: 3vmin;
    }
}

/**
  * #########################
  * ## MEDIA QUERY >1025px ##
  * #########################
  */

@media (min-width: 1025px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 3vmin;
    }
}
