/*########## ARTICLE - CommentsAndFileCompleted ##############*/

.commentsAndFileCompleted {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/*########## FormComments - CommentsAndFileCompleted ##############*/

.commentsAndFileCompleted > .formComments {
    margin-bottom: 1rem;
    padding: 1vmin;
    width: 100%;
    border-radius: 1vmin;
    box-shadow: inset 0 0 1vmin 0 var(--blue-color);
}

.commentsAndFileCompleted > .formComments > fieldset {
    margin-bottom: 2vmin;
    border: none;
    border-bottom: 0.1vmin solid var(--blue-color);
}

.commentsAndFileCompleted > .formComments > fieldset > textarea,
.commentsAndFileCompleted > .formComments > fieldset > input {
    width: 98%;
    outline: none;
    border: none;
    height: 15vmin;
    text-align: center;
    margin: 1vmin;
    font-size: var(--custom-font-size);
}

/*########## ButtonsForms - CommentsAndFileCompleted ##############*/

.commentsAndFileCompleted > .formComments > .buttonForms {
    display: block;
    width: 80%;
    min-height: 6vmin;
    cursor: pointer;
    text-align: center;
    margin: 2vmin auto;
    border-radius: 10px;
    padding: 0.5vmin;
    color: var(--write-color);
    border: 2px outset var(--write-color);
    background: linear-gradient(
        180deg,
        var(--grey2-color) 0%,
        var(--blue2-color) 100%
    );
}

.commentsAndFileCompleted > .formComments > .buttonForms:hover {
    text-shadow: 0 0 5px var(--write2-color);
}

.commentsAndFileCompleted > .formComments > .buttonForms:active {
    border-style: inset;
    color: var(--write-color);
    background: var(--lightBlue-color);
    background: linear-gradient(
        0deg,
        var(--blue-color) 0%,
        var(--lightBlue-color) 100%
    );
}

/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    /* ## FORMS >500px ## */
    .commentsAndFileCompleted > .formComments > .buttonForms {
        width: 80%;
    }

    .commentsAndFileCompleted > .formComments > fieldset > input {
        height: 12vmin;
    }

    .commentsAndFileCompleted > .formComments > fieldset > textarea {
        height: 14vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >700px ##
 * #########################
*/

@media (min-width: 700px) {
    /* ## FORMS >700px ## */
    .commentsAndFileCompleted {
        width: 45%;
    }

    .commentsAndFileCompleted > .formComments {
        box-shadow: none;
    }

    .commentsAndFileCompleted > .formComments > .buttonForms {
        width: 70%;
    }

    .commentsAndFileCompleted > .formComments > fieldset > input {
        height: 10vmin;
    }

    .commentsAndFileCompleted > .formComments > fieldset > textarea {
        height: 12vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >900px ##
 * #########################
*/

@media (min-width: 900px) {
    /* ## FORMS >1025px ## */

    .commentsAndFileCompleted {
        box-shadow: none;
    }

    .commentsAndFileCompleted > .formComments > .buttonForms {
        width: 60%;
    }

    .commentsAndFileCompleted > .formComments > fieldset > input {
        height: 8vmin;
    }

    .commentsAndFileCompleted > .formComments > fieldset > textarea {
        height: 10vmin;
    }
}
