/* ########## ########## ARTICLE - CommentsAndFileCompleted ########## */

.commentsAndFileCompleted {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1vmin;
    margin-top: 3vmin;
}

/* ########## FormComments - CommentsAndFileCompleted ########## */

.commentsAndFileCompleted > .formComments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5vmin 1vmin 1vmin 1vmin;
    min-height: 50%;
}

.commentsAndFileCompleted > .formComments > fieldset {
    width: 90%;
    margin-bottom: 2vmin;
    border: none;
    border-bottom: 0.1vmin solid var(--blue-color);
}

.commentsAndFileCompleted > .formComments > fieldset > textarea,
.commentsAndFileCompleted > .formComments > fieldset > input {
    width: 98%;
    outline: none;
    border: none;
    height: 10vmin;
    text-align: center;
    font-size: var(--custom-font-size);
}

/* ########## ButtonsForms - CommentsAndFileCompleted ########## */

.commentsAndFileCompleted > .formComments > .buttonForms {
    display: block;
    width: 30%;
    min-height: 6vmin;
    cursor: pointer;
    text-align: center;
    margin: 9vmin auto;
    border-radius: 10px;
    padding: 2vmin;
    color: var(--write-color);
    border: 2px outset var(--write-color);
    background: linear-gradient(
        180deg,
        var(--grey2-color) 0%,
        var(--blue2-color) 100%
    );
}

.commentsAndFileCompleted > .formComments > .buttonForms:hover {
    text-shadow: 0 0 5px var(--write2-color);
}

.commentsAndFileCompleted > .formComments > .buttonForms:active {
    border-style: inset;
    color: var(--write-color);
    background: var(--lightBlue-color);
    background: linear-gradient(
        0deg,
        var(--blue-color) 0%,
        var(--lightBlue-color) 100%
    );
}

.commentsAndFileCompleted > p {
    text-align: justify;
    margin: 4vmin 2vmin;
    width: 95%;
}

/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .commentsAndFileCompleted {
        width: 95%;
    }

    .commentsAndFileCompleted > .formComments > fieldset > input {
        height: 11vmin;
    }

    .commentsAndFileCompleted > .formComments > fieldset > textarea {
        height: 10vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >900px ##
 * #########################
*/

@media (min-width: 900px) {
    .commentsAndFileCompleted {
        width: 50%;
        margin-top: 10vmin;
    }

    .commentsAndFileCompleted > .formComments {
        margin-top: 4vmin;
    }

    .commentsAndFileCompleted > .formComments > fieldset > input {
        height: 8vmin;
    }

    .commentsAndFileCompleted > .formComments > fieldset > textarea {
        height: 9vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    .commentsAndFileCompleted > .formComments > .buttonForms {
        width: 30%;
    }

    .commentsAndFileCompleted > .formComments > fieldset > input,
    .commentsAndFileCompleted > .formComments > fieldset > textarea {
        height: 7vmin;
    }
}
