/*#### UL OneServices ########*/

.ulOneServices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 1vmin;
    margin-top: 3vmin;
    background-color: var(--grey3-color);
}

/*####  FIGURE Y DESCRIPTION OneServices ########*/

.linkOneServices > figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkOneServices > figure > img {
    border-radius: 50%;
    width: 40vmin;
    height: 40vmin;
    padding: 1vmin;
    margin-bottom: 3vmin;
}

.linkOneServices > figure > img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.descriptionUlOneService {
    border-radius: 1vmin;
    margin: 2vmin 0vmin;
    padding: 3vmin 2vmin;
    text-align: center;
    width: 100%;
}

.descriptionUlOneService > h2 {
    color: var(--blue-color);
    text-transform: uppercase;
    margin-bottom: 1.5vmin;
}

.descriptionUlOneService > li > p {
    font-weight: 400;
    margin: 4vmin 0;
    text-align: justify;
}

.descriptionUlOneService > li {
    margin: 0.5vmin 1.3vmin;
    padding: 1vmin 0;
    list-style-type: none;
}

.descriptionUlOneService > li:nth-child(2) {
    margin: 6vmin 0vmin;
    padding: 3vmin;
    color: var(--blue-color);
    font-weight: bold;
    border-radius: 1vmin;
    background-color: var(--write-color);
}

.descriptionUlOneService > li.statusOneService {
    margin-top: 4vmin;
    color: var(--blue-color);
    font-weight: bold;
}

.descriptionUlOneService > li > .aDownloadFile {
    text-decoration: none;
    font-weight: 500;
    color: var(--blue-color);
    border-radius: 1vmin;
    box-shadow: inset 0 0 1vmin 0 var(--blue-color);
    padding: 2vmin;
}

.descriptionUlOneService > li > .buttonResolved {
    border: none;
    font-weight: 500;
    color: var(--blue-color);
    border-radius: 1vmin;
    box-shadow: inset 0 0 1vmin 0 var(--yellow-color);
    padding: 2vmin;
}

.descriptionUlOneService > li > .buttonResolved:hover,
.descriptionUlOneService > li > .aDownloadFile:hover {
    box-shadow: inset 0 0 1vmin 0 var(--shadow-color);
}

/**
 * #########################
 * ## MEDIA QUERY >500px ##
 * #########################
*/

@media (min-width: 500px) {
    .ulOneServices {
        width: 95%;
    }
    .linkOneServices > figure {
        padding: 1vmin;
        /* width: 40%; */
    }
}

/**
* #########################
* ## MEDIA QUERY >700px ##
* #########################
*/

@media (min-width: 700px) {
    .ulOneServices {
        margin-top: 5vmin;
    }

    .linkOneServices > figure {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .linkOneServices > figure > img {
        border-radius: 50%;
        width: 20%;
        height: 20%;
        padding: 1vmin;
        margin: 1vmin;
    }
}

/**
* #########################
* ## MEDIA QUERY >900px ##
* #########################
*/

@media (min-width: 900px) {
    .ulOneServices {
        width: 40%;
        margin-top: 6vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    .ulOneServices {
        width: 30%;
        margin-top: 7vmin;
    }
}
