.articleOneService {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100%;
  background-color: var(--grey3-color);
}

/******************************/
/***** Ul ServiceList *******/
/******************************/

.ulOneService {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow-wrap: anywhere;
  width: 90%;
  height: 60%;
  padding: 1rem;
  list-style: none;
  border-radius: 10px;
  box-shadow: inset 0 0 15px 0 var(--shadow-color);
  /*box-shadow: 10px 10px 2px var(--shadow-color);*/
  color: var(--write-color);
  background-color: var(--blue-color);
}

.ulOneService > li {
  font-size: 1rem;
}

.ulOneService > li:first-child {
  font-size: 2rem;
  font-weight: 400;
  color: var(--write-color);
}
.ulOneService > li:nth-child(3) > a,
.ulOneService > li:nth-child(5) > a {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--grey3-color);
}

.ulOneService > li:nth-child(5) > a > img {
  /* width: 40px;*/
  border-radius: 50px;
}

.ulOneService > li {
  flex-grow: 1;
}

/* For Tablet ***********************/
@media (min-width: 700px) {
  /* .articleOneService {
    background-image: url('/public/dreamstimefree_17364677.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  } */
  .ulOneService {
    height: 50%;
    width: 60%;
    color: black;
    box-shadow: inset 0 0 15px 0 var(--blue-color);
    background-color: rgba(231, 232, 235, 0.7);
  }

  .ulOneService > li {
    font-size: 1.2rem;
  }
  .ulOneService > li:first-child {
    font-size: 2rem;
  }
  .ulOneService > li:nth-child(3) > a,
  .ulOneService > li:nth-child(5) > a {
    font-size: 1.6rem;
  }

  .ulOneService > li:first-child,
  .ulOneService > li:nth-child(3) > a,
  .ulOneService > li:nth-child(5) > a {
    font-weight: 500;
    color: var(--blue-color);
  }
}

/* For lg *****************/

@media (min-width: 992px) {
  .ulOneService {
    height: 60%;
    width: 50%;
    /* box-shadow: inset 0 0 10px 0 var(--shadow-color);
    background-color: rgba(61, 117, 134, 0.4); */
    color: black;
    box-shadow: inset 0 0 15px 0 var(--blue-color);
    background-color: rgba(231, 232, 235, 0.7);
  }

  .ulOneService > li:first-child {
    font-weight: 600;
  }
  .ulOneService > li,
  .ulOneService > li:first-child,
  .ulOneService > li:nth-child(3) > a,
  .ulOneService > li:nth-child(5) > a {
    color: var(--blue-color);
  }
}
