/*########  SECTION HOME PAGE  ########*/

section.sectionHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

/*########  H1, H3 HOME PAGE  ########*/

section.sectionHomePage > h1 {
    width: 90%;
    color: var(--blue-color);
    font-size: 9vmin;
    text-align: center;
    margin: 5vmin;
}

section.sectionHomePage > h3 {
    font-size: 7vmin;
    color: var(--yellow-color);
    margin-top: 15vmin;
}


/**
 * #########################
 * ## MEDIA QUERY >700px  ##
 * #########################
*/

@media (min-width: 700px) {
    :root {
        --custom-font-size: 2.5vmin;
        --h1-custom-font-size: 3vmin;
    }

    section.sectionHomePage > h1 {
        text-align: start;
        font-size: 7vmin;
        margin-top: 11vmin;
    }

    section.sectionHomePage > h3 {
        font-size: 5vmin;
    }
}

/**
 * #########################
 * ##  MEDIA QUERY >1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    :root {
        --custom-font-size: 2vmin;
        --h1-custom-font-size: 2.5vmin;
    }
    section.sectionHomePage > h1 {
        font-size: 9vmin;
        margin-bottom: 18vmin;
        margin-top: 18vmin;
    }
}
