/************************************/
/***** sectionHomePage **************/
/************************************/

.sectionHomePage {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: red;
}

/*********************************/
/**** TABLET *********************/
/*********************************/

@media (min-width: 768px) {
}

/*********************************/
/**** LG *************************/
/*********************************/

@media (min-width: 992px) {
}
