/*#### BACKGROUND NOT FOUND PAGE ########*/

.notFound {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--blue-color);
    transition: background-color 0.5s;
}
.notFound:hover {
    background-color: var(--write-color);
}
.notFound .notFound > h1 {
    margin: 10vmin;
    font-size: 15vmin;
    color: var(--yellow-color);
}

.notFound > h1:hover {
    color: var(--blue-color);
}

/**
 * #########################
 * ## MEDIA QUERY >700px ##
 * #########################
*/

@media (min-width: 700px) {
    .notFound > h1 {
        font-size: 13vmin;
    }
}

/**
 * #########################
 * ## MEDIA QUERY >1025px ##
 * #########################
*/

@media (min-width: 1025px) {
    .notFound > h1 {
        font-size: 11vmin;
    }
}
